#formulario {
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.4);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    ALIG

}


.classe{
    padding: 6px;
    padding-top: 10px;
    text-align: center;
}


.classe input{
    width: 100%;
}

#logs{
    font-size: 17px;
    margin-bottom: 12px;
}


#botao {
    justify-content: center;
    display: flex;
}

#bot{
    border: none;
    padding: 0px;
    background-color: gray;
    width: 51%;
    margin-top: 18px;
    margin-bottom: 12px;
}

